<!-- views/updateUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/<%= user.id %>/update" method="POST">
      <div>
        <label for="firstName">First Name: </label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          required
          value="<%= user.firstName %>"
        />
      </div>
      <div>
        <label for="lastName">Last Name: </label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          required
          value="<%= user.lastName %>"
        />
      </div>
      <div>
        <label for="email">Email: </label>
        <input
          type="email"
          name="email"
          id="email"
          required
          value="<%= user.email %>"
        />
      </div>
      <div>
        <label for="age">Age: </label>
        <input type="number" name="age" id="age" value="<%= user.age %>" />
      </div>
      <div>
        <label for="bio">Bio: </label>
        <textarea
          type="text"
          name="bio"
          id="bio"
          value="<%= user.bio %>"
        ></textarea>
      </div>
      <button type="submit">Update User</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
